<div class="super_container">
    
    <!-- <recipe-navbar></recipe-navbar> -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Trainer's App</h1>
            <h1 class="display-3">Trainee's App</h1>
            <p class="lead">Manage Your Time, Contact Your Trainees and Update New Training Fields</p>
            <p class="lead">Choose Your Trainer, Get To Business and Track Your Training History</p>
            <hr class="my-2">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#!/login" role="button">Log In</a>
            </p>
        </div>
    </div>
    
</div>